@inherits LayoutComponentBase

<main class="app">
    @Body
    <footer>
        Powered by <a href="https://github.com/sebgod/dotcc" target="_blank" rel="noopener">dotcc</a>,
        compiled to WebAssembly with Blazor. wat assembled by
        <a href="https://github.com/AssemblyScript/wabt.js" target="_blank" rel="noopener">wabt.js</a>.
    </footer>
</main>
